<div class="d-flex">
    <div class="categories">
        <a>All products</a>
        <a *ngFor="let category of categories">{{category.title}}</a>
    </div>
    <div class="products">
        <div class="product" *ngFor="let product of products">
            <app-product-edit *ngIf="product.id == productEditId"></app-product-edit>
            <div *ngIf="product.id !== productEditId">
                <p>{{product.id}}</p>
                <p>{{product.title}}</p>
                <p>Storage: {{product.storage}}</p>
                <p>Price: {{product.price}}</p>
                <a (click)="editProduct(product.id)" class="edit">Edit</a>
                <a (click)="deleteProduct(product)" class="delete">x</a>
            </div>
        </div>
        <div class="product add-product">
            <a (click)="addProduct()">+</a>
        </div>
    </div>
</div>