<div class="d-flex">
    <div class="categories">
        <a>All products</a>
        <a *ngFor="let category of categories">{{category.title}}</a>
    </div>
    <div class="products">
        <div class="product" *ngFor="let product of products; let i = index" [ngStyle]="{'background-image': 'url(./assets/img/' + product.images + ')'}">
            <app-product-edit *ngIf="i == productEditIndex" (updateEvent)="editProduct($event, i)"></app-product-edit>
            <div *ngIf="i !== productEditIndex">
                <p>{{product.category.title}}</p>
                <p>{{product.title}}</p>
                <p>Storage: {{product.storage}}</p>
                <p>Price: {{product.price}}</p>
                <a (click)="openEditProduct(i)" class="edit">Edit</a>
                <a (click)="deleteProduct(product)" class="delete">x</a>
                <a (click)="AddBasket(product)" class="buy">Buy</a>
            </div>
        </div>
        <div *ngIf="addProductEnabled === true" class="product add-product">
            <a (click)="addProduct()">+</a>
        </div>
    </div>
</div>