<form [formGroup]="productForm" (ngSubmit)="submit()">
  <div>
    <label for="product-title">
      Title
    </label>
    <input class="form-control" id="product-title" #productTitle type="text" value="" formControlName="title">
  </div>
  <div>
    <label for="product-price">
      Price
    </label>
    <input class="form-control" id="product-price" #productPrice type="number" value=product.price
      formControlName="price">
  </div>
  <div>
    <label for="product-storage">
      Storage
    </label>
    <input class="form-control" id="product-storage" #productStorage type="number" value=product.storage
      formControlName="storage">
  </div>
  <div>
    <div class="form-group">
      <label for="product-categoryId">Category</label>
      <select class="form-control" id="product-categoryId" formControlName="categoryId">
        <option *ngFor="let category of categories" value={{category.id}}>{{category.title}}</option>
      </select>
    </div>
  </div>
  <div>
    <label for="product-images">
      Images
    </label>
    <input class="form-control" id="product-images" type="text" placeholder="image_of_character.jpg"
      formControlName="images">
  </div>
  <button class="mt-2 btn btn-primary me-1" type="submit">Save</button>
  <button class="mt-2 btn btn-danger" (click)="cancel()">Cancel</button>
</form>