.Menu
{
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 200%;
}
.start
{
    text-align: center;
    font-size: 200%;

}
.clogo
{
    padding-left: 42%;
    width: 20%;
    height: 20%;
    
}