<!-- <div class="loginContainer">
    <div class="loginButton">
        <button (click)="onClick()" class="theButton">Login</button>
    </div>

</div>  -->
<div class="loginBox" userId="userId">
    <div>
        Email:
        <input class="loginInputBox" #email >
    </div>
    <div>
        Password:
        <input class="loginInputBox" #password>
    </div>
    <button (click)="getUser()">Login</button>

    <button (click)="addUser(email,password)">Create</button>
</div>    
<div id="userBox">


    <p>[X]</p>
     
        
    
</div>

