div.loginContainer{
    position: fixed;
    top: 5px;
    right: 10px;
}
.loginBox {
    position: relative;
    text-align: center;
    vertical-align: middle;
   
}
.createUserCustomer {
    align-content: space-between;
}